﻿@model CodeFirstAutomaticMigration.Models.Student

<tr>
    <td>
        @Html.DisplayFor(m => m.Name)
    </td>
    <td>
        @Html.DisplayFor(m => m.Surname)
    </td>
    <td>
        @Html.DisplayFor(m => m.Age)
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = Model.StudentID }) |
        @Html.ActionLink("Details", "Details", new { id = Model.StudentID }) |
        @Html.ActionLink("Delete", "Delete", new { id = Model.StudentID })
    </td>
</tr>
